#head{
  font-weight: 700;
  margin: 5px;
  margin-bottom: 15px;
  font-size: 45px;
}
input{
  width: 100%;
}
.container{
  text-align: left;
}
.kg-btn{
  min-width: 80px;
}
.gap{
  margin:10px 5px;
}